<html>
  <body>
    <h1>All city details</h1>
    <table>
      <!-- Non-dynamic table; we know only one row will be displayed. -->
      <tr>
        <td>City code</td>
        <tr><%= city.cty_code %></tr>
      </tr>
      <tr>
        <td>City name</td>
        <tr><%= city.cty_name %></tr>
      </tr>
      <tr>
        <td>City population</td>
        <tr><%= city.population %></tr>
      </tr>
      <tr>
        <td>Coastal</td>
        <tr><%= city.isCoastal %></tr>
      </tr>
      <tr>
        <td>Area (KM^2)</td>
        <tr><%= city.areaKM %></tr>
      </tr>
      <tr>
        <td>City code</td>
        <tr><%= city.co_code %></tr>
      </tr>
      <tr>
        <td>City code</td>
        <tr><%= city.co_name %></tr>
      </tr>
    </table>
    <a href="/">Home</a>
  </body>
</html>